/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 } */
 *,
 *::after,
 *::before{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }
 html, body{
  width: 100%;
 }
 body{
   gap: 16px;
   background: #F1F1F1;
   align-items: center;
   font-style: normal;
   font-family: Inter;
   font-size: 13px;
   
 }
 /*b*/
/* #buto{
  display: none;
 } */
 .row_title{
  cursor:default;
 }
 .select_plan_btn{
  justify-content: center; align-items: center; gap: 8px; display: flex
 }
 #select_plan{
padding-top: 12px; padding-bottom: 12px; padding-left: 16px; padding-right: 8px; background: #1A1A1A; 
  border-radius: 8px; justify-content: space-between; align-items: center; display: inline-flex
 }
 span.extend{
  color: #E3E3E3; font-size: 13px; 
  font-family: Inter; font-weight: 500; line-height: 18.20px; word-wrap: break-word
 }
.section_content{
  display: flex;
  flex-direction: column;
   align-items: center; 
   gap: 16px; 

}

 /* start narbar */
 nav{
   display: flex;
   padding: 12px 16px;
   justify-content: space-between;
   align-items: center;
   background: var(--grey-grey-300, #1A1A1A);
   width: 99.9%;
   z-index: 1;
 }
 
 .span_logo{
   display: inline-flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 7.517px;
   flex: 1 0 0;
   width: 33%;
 }
 .span_search{
   width: 43%;
   padding-right: 2px;
 }
 
 .span_search input{
   display: inline-flex;
   width: 100%;
   height: 32px;
   padding: 8px;
   align-items: center;
   gap: 6px;
   border-radius: 8px;
   border: 1px solid var(--stroke-s-200, #616161);
   background: var(--grey-g-200, #303030);
   color: var(--grey-g-100, #B5B5B5);
   font-weight: 500;
   line-height: 140%;
   
 }
 
 .span_items{
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   gap: 8px;
   flex: 1 0 0;
 }
 
 .span_items .btn_notif{
   display: flex;
   width: 32px;
   height: 32px;
   padding: 8px;
   justify-content: center;
   align-items: center;
   gap: 8px;
   border-radius: 8px;
   background: var(--grey-grey-200, #303030);
 }
 
 .span_items .btn_notif svg {
   width: 20px;
   height: 20px;
   flex-shrink: 0;
   color:#E3E3E3;
 }
 
 .span-notif{
   display: flex;
   padding: 2px 2px 2px 8px;
   align-items: center;
   gap: 8px;
   border-radius: 8px;
   background: var(--grey-grey-50, #656266);
   font-size: 12px;
   font-weight: 500;
   line-height: 130%; /* 15.6px */
   color: var(--font-light, #E3E3E3);
 }
 
 .btn-davii {
   display: flex;
   height: 28px;
   padding: 9px 5px 10px 5px;
   justify-content: center;
   align-items: center;
   border-radius: 6px;
   background: #36FBA1;
   color: rgba(0, 0, 0, 0.40);
   text-align: center;
 }
 /* .btn-davii{
  display: flex;
  height: 28px;
  padding: 9.625px 5.875px 10.375px 6.125px;
  justify-content: center;
  align-items: center;
  border-radius: 5.25px;
  background: #36FBA1;
} */

  .show{
    display: flex;
  }
  
  .hide{
    display: none;
  }

  .show_flex{
    display: flex;
  }

 .menu{
   z-index: 3;
   flex-direction: column;
   align-items: flex-start;
   gap: 4px;
   align-self: stretch;
   position: absolute;
   width: 220px;
   padding: 6px 0px;
   border-radius: 14px;
   right: 10px;
   border: 1px solid var(--stroke-s-50, #DBDBDB);
   background: var(--White, #FFF);
   box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
 }
 #dropdown_notification{
  padding: 16px; 
  background: white;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
   border-radius: 14px; 
   border: 1px #DBDBDB solid; 
   flex-direction: column; 
   justify-content: flex-start;
    align-items: flex-start; 
    gap: 16px; 
  z-index: 3;
  width: 383px;
  gap: 16px;
  top: 64px;
 }
#dropdown_notification >div:nth-child(1){
  align-self: stretch; 
  justify-content: space-between;
   align-items: center; 
   display:flex
}
#dropdown_notification >div:nth-child(1) > div:nth-child(1) {
  color: #303030; 
  font-size: 14px; 
  font-family: Inter; 
  font-weight: 600; 
  line-height: 19.60px; 
  word-wrap: break-word
}
.progress_bar{
  justify-content: flex-start;
  
  align-items: center; 
  gap: 8px;
   display: inline-flex
}
.progress_bar >div:nth-last-of-type(1) {
  width: 72px;
   height: 4px;
    position: relative; 
   background: #E3E3E3; 
   border-radius: 28px;
    overflow: hidden
}
.progress_bar >div:nth-last-of-type(1)  div{
  width: 18px;
   height: 4px; 
   left: 0px;
    top: 0px;
   position: absolute; 
   background: #1A1A1A
}
#dropdown_notification >div:nth-child(1) > div:nth-child(2) {
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 16px;
   display: flex
}
.notif_icon{
  width: 20px; height: 20px; position: relative
}
#dropdown_notification >div:nth-child(2){
  padding: 16px; 
  background: #F1F1F1; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 8px; 
  display: inline-flex
}
#dropdown_notification >div:nth-child(2) div{
  color: #616161;
   font-size: 13px; 
   font-family: Inter;
    font-weight: 600; 
    line-height: 18.20px; 
    word-wrap: break-word
}
 .dropdown_span:hover{
   display: block;
   z-index: 3;
 }
 /* .dropdown_span:hover .menu{
   display: block;
   z-index: 3;
 } */

 li{
  list-style: none;
 }

.menu-item{
  display: flex;
  align-items: center;
  align-self: stretch;
  color: var(--font-dark, var(--grey-g-200, #303030));
  line-height: 140%; /* 18.2px */
  border-radius: 8px;
  font-weight: 400;
  gap: 8px;
  padding: 6px;
  padding: 6px;
}

.menu-item a {
  text-decoration: auto;
  color: var(--font-dark, var(--grey-g-200, #303030));
}
 
 .span_one{
   padding: 4px 12px 4px 8px;
   /* justify-content: space-between; */
   background: var(--states-hover, #F1F1F1);
   font-weight: 600;
 }

 .span_two img{
   display: flex;
   width: 20px;
   height: 20px;
   justify-content: center;
   align-items: center;
 }
 
 .span_name{
   display: block;
 }
 
 .span_name p:nth-child(1){
   color: var(--font-dark, var(--grey-g-200, #303030));
   font-size: 13px;
   font-weight: 500;
   line-height: 140%; /* 18.2px */
 }
 
 .span_name p:nth-child(2){
   color: var(--grey-grey-100, var(--font-mid-2, #616161));
  font-size: 12px;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
 }
 

 .select_plan{
   display: flex;

   max-width: 800px;
   padding: 12px 8px 12px 16px;
   justify-content: space-between;
   align-items: center;
   border-radius: 8px;
   background: var(--grey-grey-300, #1A1A1A);
   margin: 8px;
 }
.select_plan_d{
  display: flex;
  max-width: 800px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  border-radius: 18px;
  border: 1px solid var(--stroke-s-50, #DBDBDB);
  background: var(--White, #FFF);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
  margin-top: 10px;
}
 
 
 .select_plan_btn a{
   display: inline-flex;
   padding: 6px 12px;
   align-items: center;
   gap: 8px;
   border-radius: 6px;
   border: 1px solid rgba(0, 0, 0, 0.10);
   background: var(--White, #FFF);
   box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
  text-decoration: auto;
 }
 
 .select_plan_btn span{
   display: inline-flex;
   padding: 6px;
   align-items: flex-start;
   gap: 8px;
   border-radius: 6px;
   
 }
 
 .select_plan_btn span img{
   width: 20px;
   height: 20px;
   filter: brightness(7.25);
 }
 
 .select_plan_content{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   transform: translateX(16%);
 }
 
 .setup_guide{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 4px;
   color: var(--font-dark, var(--grey-g-200, #303030));
   /* Text-13/regular */
   font-family: Inter;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 140%; /* 18.2px */
 }
 
 .setup_guide p{
   font-weight: 600;
 }
 
 .bg_wite{
   background-color: #fff;
 }
 
 .step{
   line-height: 130%;
   font-weight: 400;
 }
 
 .hide_show{
   display: flex;
   padding: 4px;
   align-items: flex-start;
   gap: 8px;
   border-radius: 6px;
 }
 
 .hide_show img{
   width: 20px;
   height: 20px;
 }
 
 .setup_guide1{
   display: flex;
      padding: 8px;
   justify-content: space-between;
   align-items: flex-start;
  align-self: stretch;
}
 
 .setup_guide2{
   /* display: none; */
   padding: 8px;
   align-items: center;
   gap: 120px;
   align-self: stretch;
   border-radius: 10px;
   color: var(--font-dark, var(--grey-g-200, #303030));

  /* Text-13/medium */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
   font-weight: 500;
   line-height: 140%; /* 18.2px */
 }

.elt_row{
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
 
 .elt_row img{
   width: 24px;
   height: 24px;
 filter: contrast(0);
}

.elt_row_content{
  display: flex;
  padding: 2px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}

.row_body{
  align-self: stretch;
  color: var(--font-mid-2, #616161);
/* Text-13/medium */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 18.2px */
}

.row_body a {
  color: var(--states-focused, #005BD3);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.bg_gris{
  background-color: #D1D1D1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

button.btn_store{
  /* display: flex; */
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
  border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
  border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
  color: var(--font-light, #F6F3F6);

  /* Text-12/Semi bold */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 15.6px */
}

.elt_row_content2{
  width: 156.145px;
  height: 120px;
  flex-shrink: 0;
}

.bg_img1{
  background: url("https://crushingit.tech/hackathon-assets/customise-store.png"), lightgray 50% / cover no-repeat;
}

.bg_img2{
  background: url("https://crushingit.tech/hackathon-assets/product.png"), lightgray 50% / cover no-repeat;
}

.bg_img3{
  background: url("https://crushingit.tech/hackathon-assets/website.png"), lightgray 50% / cover no-repeat;
}

.bg_img4{
  background: url("https://crushingit.tech/hackathon-assets/name-store.png"), lightgray 50% / cover no-repeat;
}

.bg_img5{
  background: url("https://crushingit.tech/hackathon-assets/payment.png"), lightgray 50% / cover no-repeat;
}

.default_btn{
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
}

.span_search input[type="search"]::placeholder {
  background-image: url('https://crushingit.tech/hackathon-assets/icon-search.svg');
  background-repeat: no-repeat;
  background-position: left center;
  color: var(--grey-g-100, #B5B5B5);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  padding-left: 20px;
  stroke: white;
  fill: white;
  filter: brightness(7.25);
}

@media screen and (min-width:769px) {
  .select_plan_d, #select_plan{
    width: 800px;
  }
}
@media screen and (max-width:768px) {
  #dropdown_notification{
    width: 358px;
  }
  .span_logo a img:nth-child(1),#user-info span,.elt_row_content2{
    display: none;
  }
  .span_logo a img:nth-child(2){
    display: block!important;
  }
  .span_logo {
    width: auto;
  }
  .select_plan,.select_plan_d{
    border-radius: none;
  }
  #user-info span {
    display: none;
  }
  .span-notif{
    padding: 0px;
  }
  .span_search {
    width: 67%;
    padding-right: 10px;
  }
}
